<div class="row">
  <div class="col-12">
    <table class="table">
      <tr><td><strong>Code</strong></td><td><%=@code%></td></tr>
      <tr><td><strong>Scope</strong></td><td><%=@scope.split(' ').join('<br/>').html_safe%></td></tr>
    </table>

    <p>Note down the authorization code above, and use it in your app to impersonate this account.</p>
  </div>
</div>
