<div class="row">
  <div class="col-12">
    <table class="table">
      <tr><td><strong>Code</strong></td><td><%=@code%></td></tr>
      <tr><td><strong>Scope</strong></td><td><%=@scope.split(' ').join('<br/>').html_safe%></td></tr>
      <tr><td><strong>Access Token</strong></td><td><%=@auth&.access_token%></td></tr>
      <tr><td><strong>Refresh Token</strong></td><td><%=@auth&.refresh_token%></td></tr>
    </table>
  </div>
</div>
