<div class="row">
  <div class="col-12">
    <p>In order to automate group membership and certain other Google Workspace tasks,
    we need to authorize our Google app to access certain information as certain accounts.
    Use the button below to authorize the app to use your account.</p>

    <%= link_to 'Google OAuth2', @authUrl, class: 'btn btn-primary' %>
  </div>
</div>