<div class="row">
  <div class="col-md-4 col-xs-12">
    <h1>Forgot Your Password?</h1>
    <%= form_with(url: password_resets_path, local: true) do |form| %>
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, class: 'form-control' %>
        <%= form.submit "Reset Password", class: 'btn btn-primary mt-2' %>
    <% end %>
  </div>
</div>