<div class="row">
  <div class="col-xs-12">
    <h1>Reset Your Password</h1>
    <p>
    Forgot your password?  Never had a password?  No problem.  Submit the form below
    to get a link e-mailed to you that will allow you to reset your password, and presto!
    You'll be online in no-time.
    </p>
    <%= form_with(url: password_resets_path, local: true) do |form| %>
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, value: @email, class: 'form-control' %>
        <%= form.submit "Reset Password", class: 'btn btn-primary mt-2' %>
    <% end %>
  </div>
</div>