<tr id="<%= dom_id admin %>">
  <td>
    <%= admin&.email%>
  </td>
  <td>
    <%= admin&.permissions&.map{|p| p.name}.join(', ') %>
  </td>
  <td>
    <%= link_to "Edit", edit_admin_path(admin), class: 'btn btn-sm btn-dark' %>
  </td>
</tr>
