<h1>Admins and Permissions</h1>
<%= link_to "Create Admin", new_admin_path, class: 'btn btn-primary btn-sm' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Permissions</th>
      <th></th>
    </tr>
  </thead>
  <% @admins.each do |admin| %>
    <%= render admin %>
  <% end %>
</table>
