<div class="row">
  <h1>Editing <%= @person.name %>
  </h1>
</div>
<%= render "form" , person: @person %>
<div class="row">
  <div>
    <%= link_to "Show this person" , @person %> |
    <%= link_to "Back to people" , people_path %>
  </div>
</div>