<div class="row">
  <h1>Editing <%= @person.name %>
  </h1>
</div>
<%= render "form" , person: @person %>
<div class="row">
  <div>
    <%= link_to "View Person" , @person, class: 'btn btn-secondary mt-4' %> 
  </div>
</div>