<div class="row">
  <h1><%= @person.name %></h1>
  <span><%= link_to "Back to Profile", @person, class: 'btn btn-secondary d-inline-block' %><%= render partial: 'renew_button' %></span>
  <p class="mt-2">
    Please tell us a bit about yourself!  Your information is securely stored on our servers, and 
    we will never sell or distribute your information.  A mailing address is required if you have
    opted to receive printed Ephemeris issues.
  </p>
</div>
<%= render "form" , person: @person %>
<div class="row">
  <div>
  </div>
</div>