<div id="<%= dom_id equipment %>">
  <p>
    <strong>Instrument:</strong>
    <%= equipment.instrument_id %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= equipment.model %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= equipment.person_id %>
  </p>

</div>
