<div class="d-flex flex-wrap">
  <% images.each do |image| %>
    <%= image_tag url_for(image), class: "img-thumbnail m-2", width: '200px', data: { bs_toggle: "modal", bs_target: "#lightboxModal", full_image_url: url_for(image) } %>
  <% end %>
</div>
<div class="modal fade" id="lightboxModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0">
      <div class="modal-body text-center p-4">
        <%= image_tag '', class: "img-fluid rounded" %>
      </div>
    </div>
  </div>
</div>