<div id="<%= dom_id group %>">
  <span class="h2">
    Group 
  </span>
 <div class="table-responsive">
  <table class="table table-sm">
    <tr>
      <td><strong>Name</strong></td>
      <td><%= group.name %></td>
    </tr>
    <tr>
      <td><strong>Abbreviation</strong></td>
      <td><%= group.short_name %></td>
    </tr>
    <tr>
      <td><strong>Email</strong></td>
      <td><%= group.email %></td>
    </tr>
    </table>
    </div>
</div>