<h1>Editing donation item</h1>

<%= render "form", donation_item: @donation_item %>

<br>

<div>
  <%= link_to "Show this donation item", @donation_item %> |
  <%= link_to "Back to donation items", donation_items_path %>
</div>
