@import "bootstrap/variables";

fieldset.hw-combobox {
  width: 100%;
}

div.hw-combobox__main__wrapper {
  width: 100%;
}

.form-label {
  font-weight: bold;
}

.active {
  background-color: $success-bg-subtle !important;
  color: $success !important;
  text-align: center;
  font-weight: bold;
}

.inactive {
  background-color: $danger-bg-subtle !important;
  color: $danger !important;
  text-align: center;
  font-weight: bold;
}