<h1>Editing donation phase</h1>

<%= render "form", donation_phase: @donation_phase %>

<br>

<div>
  <%= link_to "Show this donation phase", @donation_phase %> |
  <%= link_to "Back to donation phases", donation_phases_path %>
</div>
