<div class="row">
  <div class="col-12">
    <h1>Renewal Reminders</h1>
    <p>The list below shows people whose memberships have recently expired (in the last three months) or
    that are about to expire (in the next two months)</p>
  </div>
 
  <div id="people" class="col-12 mt-2">
    <%= render partial: 'people/membership_status' %>
  </div>
</div>
