<table class="table table-striped">
  <% obj.attributes.each do |name, value| %>
    <% next if %w(created_at updated_at id).include?(name) %>
    <tr>
      <td><strong><%= name.titleize %></strong></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>